{% extends "network/layout.html" %}

{% block body %}
<br>
<h2>All Posts</h2>
<div id ="post"></div>
<div id ="posts"></div>

<script type="text/babel">

const { useState, useEffect } = React

class Post extends React.Component {
    constructor(props) { //becasue OOP
          super(props);
          this.state = { //this state has key and value, needs to be setup on creation.
            post: '',
            userId: {{user.id}}
          };
        }

        handlePost = (event) => {
                this.setState({
                    post: event.target.value
                })
            }  

            handleSubmit = (event) => {
                fetch('/createpost', {
                    method: 'POST',
                    body: JSON.stringify({
                        post: this.state.post,
                        userId: this.state.userId
                    })
                })
                .then(response => response.json())
                            .then(result => {
                                console.log(result);
                            })
                 
                event.preventDefault()  
                this.setState({
                    post:'',
                })     
            }   

    render() {
            return (
                <div className="border border-primary rounded p-5 m-5">
                   <form onSubmit={this.handleSubmit} className="form-group">
                        <div className="form-group">
                            <label htmlFor="newpost">New Post:</label>
                            <textarea className="form-control" rows="5" id="newpost"
                                type="text"
                                value={this.state.post}
                                onChange={this.handlePost}
                            />
                        </div>
                        <button type='submit' className="btn btn-primary">Post</button>
                   </form>
                </div>
            )
    }
}


function ViewPosts () {
    const [posts, setPosts] = useState([]);
    const [currentPage, setCurrentPage] = useState(1);
    const [postsPerPage, setPostsPerPage] = useState(4);

    useEffect( () => {
        const fetchPosts = async() => {
            const res = await axios.get('/viewposts');
            setPosts(res.data)
        }
        fetchPosts();
        }, []);

    console.log(posts)
    //get current post
    const indexOfLastPost = currentPage * postsPerPage;
    const indexOfFirstPost = indexOfLastPost - postsPerPage;
    const currentPosts = posts.slice(indexOfFirstPost, indexOfLastPost);
    //change page
    const paginate = (pageNumber) => setCurrentPage(pageNumber);

    return(
        <div>
        <Posts posts={currentPosts} />
        <Pagination postsPerPage={postsPerPage} totalPosts={posts.length} paginate={paginate} />
        </div>
    )

}

const Posts =({posts}) => {
    return (
    <div>
                {posts.map((post) =>
                        (  
                            <ul key={post.id} className="container-fluid">
                                <div className="border border-primary rounded p-5 m-5">
                                    <div>Post: {post.post} </div>
                                    <div>By: <a href={"profile/"+post.user_id}> {post.user} </a></div>
                                    <div>When: {moment(post.created_at).format('YYYY/MM/DD HH:mm:ss')} </div>
                                </div>
                            </ul>
                         ))}
    </div>
    )
}

const Pagination = ({postsPerPage, totalPosts, paginate}) => {
    const pageNumbers = [];

    for(let i = 1; i <= Math.ceil(totalPosts/postsPerPage); i++){
        pageNumbers.push(i);
    }
    
    return(
        <nav>
            <ul className = "pagination">
            {pageNumbers.map(number => (
                <li key={number} className="page-item">
                <a onClick={() => paginate(number)} className="page-link">
                {number}
                </a>
                </li>
            ))}
            </ul>
        </nav>
    );
};



ReactDOM.render(<Post />, document.getElementById('post'))
ReactDOM.render(<ViewPosts />, document.getElementById('posts'))

</script>


{% endblock %}

{% block script %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js" integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg==" crossorigin="anonymous"></script>
{% endblock %}