{% extends "network/layout.html" %}

{% block body %}
<br>
<h2>All Posts</h2>
<div id ="post"></div>
<div id ="posts"></div>

<script type="text/babel">

const { useState, useEffect } = React

class Post extends React.Component {
    constructor(props) { //becasue OOP
          super(props);
          this.state = { //this state has key and value, needs to be setup on creation.
            post: '',
            userId: {{user.id}}
          };
        }

        handlePost = (event) => {
                this.setState({
                    post: event.target.value
                })
            }  

            handleSubmit = (event) => {
                fetch('/createpost', {
                    method: 'POST',
                    body: JSON.stringify({
                        post: this.state.post,
                        userId: this.state.userId
                    })
                })
                .then(response => response.json())
                            .then(result => {
                                console.log(result);
                            })
                 
                 
                this.setState({
                    post:'',
                })     
            }   

    render() {
            return (
                <div className="border border-primary rounded p-5 m-5">
                   <form onSubmit={this.handleSubmit} className="form-group">
                        <div className="form-group">
                            <label htmlFor="newpost">New Post:</label>
                            <textarea className="form-control" rows="5" id="newpost"
                                type="text"
                                value={this.state.post}
                                onChange={this.handlePost}
                            />
                        </div>
                        <button type='submit' className="btn btn-primary">Post</button>
                   </form>
                </div>
            )
    }
}


function ViewPosts () {
    const [posts, setPosts] = useState([]);
    const [currentPage, setCurrentPage] = useState(1);
    const [postsPerPage, setPostsPerPage] = useState(4);

    useEffect( () => {
        const fetchPosts = async() => {
        const res = await axios.get('/viewposts');
        setPosts(res.data)
        }
        fetchPosts();
        }, []);

    console.log(posts)
    //get current post
    const indexOfLastPost = currentPage * postsPerPage;
    const indexOfFirstPost = indexOfLastPost - postsPerPage;
    const currentPosts = posts.slice(indexOfFirstPost, indexOfLastPost);
    //change page
    const paginate = (pageNumber) => setCurrentPage(pageNumber);

    return(
        <div>
        <Posts posts={currentPosts}/>
        <Pagination postsPerPage={postsPerPage} totalPosts={posts.length} paginate={paginate} />
        </div>
    )

}

const Posts =({posts}) => {
    return (
    <div>
                {posts.map((post) =>
                        (  
                            <PostView prop={post}/>
                         ))}
    </div>
    )
}

const PostView =({prop}) => {
const [show, setShow] = useState(false)
const [postBody, setPostBody] = useState(prop.post)

    useEffect(() => {
        setShow(false);
    }, [false]);

function updatePost (post) {
    setPostBody(post)
}

    console.log(show);
    console.log(postBody);

return (
    <ul key={prop.id} className="container-fluid">
                                <div className="border border-primary rounded p-5 m-5">
                                    <div>Post: {postBody} </div>
                                    <div>By: <a href={"/profile/"+prop.user_id}> {prop.user} </a></div>
                                    <div>When: {moment(prop.created_at).format('YYYY/MM/DD HH:mm:ss')} </div>

                                    <div>
                                    {prop.user_id ==
                                    {{ user.id }}
                                    ? <a onClick={() => setShow(!show)}><button>Edit</button></a>
                                    : <div><Like postId={prop.id}/></div>
                                    }
                                    </div>
                                    <div>
                                    {show ?
                                        <EditPost prop={prop} updatePost={updatePost} updateShow={setShow}/>
                                        : <div></div>
                                    }
                                    </div>
                                    
                                </div>
                            </ul>
)

}

const Pagination = ({postsPerPage, totalPosts, paginate}) => {
    const pageNumbers = [];

    for(let i = 1; i <= Math.ceil(totalPosts/postsPerPage); i++){
        pageNumbers.push(i);
    }
    
    return(
        <nav>
            <ul className = "pagination">
            {pageNumbers.map(number => (
                <li key={number} className="page-item">
                <a onClick={() => paginate(number)} className="page-link">
                {number}
                </a>
                </li>
            ))}
            </ul>
        </nav>
    );
};


const EditPost = ({prop, updatePost, updateShow}) => {
const [post, setPost] = useState(prop.post)
const userId = prop.user_id
const postId = prop.id
console.log(post)

//code for updating post on DB
const handleSubmit = (evt) => {
      evt.preventDefault();
      const res = axios.put(`/edit_post/${userId}`, { post: post, post_id: postId });
      console.log(post);
      updatePost(post);
      updateShow(false);
      console.log(res);
    }


return(
    <div className="border border-primary rounded p-5 m-5">
                   <form onSubmit={handleSubmit} className="form-group">
                        <div className="form-group">
                            <label htmlFor="newpost">Edit Post:</label>
                            <textarea className="form-control" rows="5" id="newpost"
                                type="text"
                                value={post}
                                onChange={e => setPost(e.target.value)}
                            />
                        </div>
                        <button type='submit' className="btn btn-primary">Save Post</button>
                   </form>
                </div>
 )
}

const Like = ({postId}) => {
const [likes, setLikes] = useState(0)
const [loggedInUserLikes, setLoggedInUserLikes] = useState(false)

//use effect to get latest like count.
useEffect( () => {
        const fetchLikes = async(postId) => {
            console.log(`/like/${postId}`)
            const res = await axios.get(`/like/${postId}`);
            setLikes(res.data.likes);
            console.log(res.data.likes)
            setLoggedInUserLikes(res.data.user_like)
            console.log(res.data.user_like)
        }
        fetchLikes(postId);
        }, []);

const handleClick =() => {
    if (loggedInUserLikes == true) {
        setLikes(likes - 1);
        const deleteLikes = async(postId) => {
            console.log(`/like/${postId}`)
            const res = await axios.put(`/like/${postId}`);
        }
        deleteLikes(postId);
        console.log(loggedInUserLikes)
        setLoggedInUserLikes(!loggedInUserLikes);
        console.log(loggedInUserLikes)
        } else {
            setLikes(likes + 1);
            const postLikes = async(postId) => {
            console.log(`/like/${postId}`)
            const res = await axios.post(`/like/${postId}`);
        }
        postLikes(postId);
        setLoggedInUserLikes(!loggedInUserLikes);
        console.log(loggedInUserLikes)
        }
    } 

return (
    <div>   
    <button onClick={()=>handleClick()}>Likes:{likes}</button>
    </div>

 );
}


ReactDOM.render(<Post/>, document.getElementById('post'))
ReactDOM.render(<ViewPosts />, document.getElementById('posts'))

</script>


{% endblock %}

{% block script %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js" integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg==" crossorigin="anonymous"></script>
{% endblock %}