{% extends "network/layout.html" %}

{% block body %}
<h2>Profile</h2>

<span id="profilefollowers"></span>

<h2>Posts</h2>
<div id="profileposts"></div>

<script type = "text/babel">

const { useState, useEffect } = React

function Follow(props) {
    const follow = () => {
    fetch('/newfollow/' + {{user_id}}, {
        method: 'PUT',
        body: JSON.stringify({
            user_id: {{user_id}},
            follow_id: {{user.id}}
        })
    })
    .then(response => response.json())
    .then(result => {
    console.log('Success:', result);
    })
    .catch(error => {
    console.error('Error:', error);
    });
    props.toggle();
    }

    return (
    <button onClick={follow}>Follow</button>
    )
}

function UnFollow(props) {
    const unfollow = () => {
    fetch('/unfollow/' + {{user_id}}, {
        method: 'PUT',
        body: JSON.stringify({
            user_id: {{user_id}},
            follow_id: {{user.id}}
        })
    })
    .then(response => response.json())
    .then(result => {
    console.log('Success:', result);
    })
    .catch(error => {
    console.error('Error:', error);
    });
    props.toggle();
    }

    
    return (
    <button onClick={unfollow}>unFollow</button>
    )
}


class Profile extends React.Component {
    constructor(props) {
        super(props);
        this.state = {
            followingcount: 0,
            followercount: 0,
            is_logged_in_users_profilepage: false,
            is_profile_following_logged_in_user: false,
        }
        this.handleClick = this.handleClick.bind(this);
    }

    handleClick() {
    this.setState(state => ({
        is_profile_following_logged_in_user: !this.state.is_profile_following_logged_in_user
    }));
  }

    componentDidMount() {
        fetch('/profilefollowers/' + {{user_id}}, {
            method: 'GET',
        })
        .then(response => response.json())
        .then(followers => {
                //posts = Array.from(posts)
                this.setState({
                    followingcount: followers.followingcount,
                    followercount: followers.followercount,
                    is_logged_in_users_profilepage: followers.is_logged_in_users_profilepage,
                    is_profile_following_logged_in_user: followers.is_profile_following_logged_in_user,
            });
            console.log(followers)
        })
    }



    render() {
        return(
            <div>
                <h2>Followers: {this.state.followercount}</h2>
                <h2>Following: {this.state.followingcount}</h2>
                <div>
                   <div>
                    {this.state.is_logged_in_users_profilepage
                        ? <div></div>
                        : <div>
                            {this.state.is_profile_following_logged_in_user
                                ? <UnFollow toggle={this.handleClick}/>
                                : <Follow toggle={this.handleClick}/>
                            }
                         </div>
                        }
                        </div>
                    </div>
                
                </div>
            

        )
    }
}

function ViewPosts () {
    const [posts, setPosts] = useState([]);
    const [currentPage, setCurrentPage] = useState(1);
    const [postsPerPage, setPostsPerPage] = useState(4);
    const userId = {{user_id}};
    const profilePostsUrl = `/profileposts/${userId}`;
    console.log(profilePostsUrl)

    useEffect( () => {
        const fetchPosts = async(userId) => {
            console.log(`/profileposts/${userId}`)
            const res = await axios.get(`/profileposts/${userId}`);
            setPosts(res.data)
        }
        fetchPosts(userId);
        }, []);

    console.log(posts)
    //get current post
    const indexOfLastPost = currentPage * postsPerPage;
    const indexOfFirstPost = indexOfLastPost - postsPerPage;
    const currentPosts = posts.slice(indexOfFirstPost, indexOfLastPost);
    
    //change page
    const paginate = (pageNumber) => setCurrentPage(pageNumber);

    //Is post written by user? 
    //const isPostWrittenByLoggedInUser = False;
   

    return(
        <div>
        <Posts posts={currentPosts} />
        <Pagination postsPerPage={postsPerPage} totalPosts={posts.length} paginate={paginate} />
        </div>
    )

}

const Posts =({posts}) => {
    return (
    <div>
                {posts.map((post) =>
                        (  
                            <PostView prop={post}/>
                         ))}
    </div>
    )
}

const PostView =({prop}) => {
const [show, setShow] = useState(false)
const [postBody, setPostBody] = useState(prop.post)

    useEffect(() => {
        setShow(false);
    }, [false]);

function updatePost (post) {
    setPostBody(post)
}

    console.log(show);
    console.log(postBody);

return (
    <ul key={prop.id} className="container-fluid">
                                <div className="border border-primary rounded p-5 m-5">
                                    <div>Post: {postBody} </div>
                                    <div>By: <a href={"/profile/"+prop.user_id}> {prop.user} </a></div>
                                    <div>When: {moment(prop.created_at).format('YYYY/MM/DD HH:mm:ss')} </div>
                                    <div>
                                    {prop.user_id ==
                                    {{ user.id }}
                                    ? <a onClick={() => setShow(!show)}><button>Edit</button></a>
                                    : <div></div>
                                    }
                                    </div>
                                    <div>
                                    {show ?
                                        <EditPost prop={prop} updatePost={updatePost} updateShow={setShow}/>
                                        : <div></div>
                                    }
            
                                    </div>
                                </div>
                            </ul>
)
}

const EditPost = ({prop, updatePost, updateShow}) => {
const [post, setPost] = useState(prop.post)
const userId = prop.user_id
const postId = prop.id
console.log(post)

//code for updating post on DB
const handleSubmit = (evt) => {
      evt.preventDefault();
      const res = axios.put(`/edit_post/${userId}`, { post: post, post_id: postId });
      console.log(post);
      updatePost(post);
      updateShow(false);
      console.log(res);
    }


return(
    <div className="border border-primary rounded p-5 m-5">
                   <form onSubmit={handleSubmit} className="form-group">
                        <div className="form-group">
                            <label htmlFor="newpost">Edit Post:</label>
                            <textarea className="form-control" rows="5" id="newpost"
                                type="text"
                                value={post}
                                onChange={e => setPost(e.target.value)}
                            />
                        </div>
                        <button type='submit' className="btn btn-primary">Save Post</button>
                   </form>
                </div>
 )
}

const Pagination = ({postsPerPage, totalPosts, paginate}) => {
    const pageNumbers = [];

    for(let i = 1; i <= Math.ceil(totalPosts/postsPerPage); i++){
        pageNumbers.push(i);
    }
    
    return(
        <nav>
            <ul className = "pagination">
            {pageNumbers.map(number => (
                <li key={number} className="page-item">
                <a onClick={() => paginate(number)} className="page-link">
                {number}
                </a>
                </li>
            ))}
            </ul>
        </nav>
    );
};






ReactDOM.render(<ViewPosts />, document.getElementById('profileposts'))
ReactDOM.render(<Profile />, document.getElementById('profilefollowers'))
</script>

{% endblock %}


{% block script %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js" integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg==" crossorigin="anonymous"></script>
{% endblock %}