{% extends "network/layout.html" %}

{% block body %}
<h2>Profile</h2>
{% if user.id == user_id %}
<div></div>
{% else %}
<span id="togglefollow"></span>
{% endif %}

<h2>Followering:
    <span id="profilefollows"></span>
</h2>

<h2>Followers: <span id="profilefollowers"></span></h2>

<h2>Posts</h2>
<div id="profileposts"></div>

<h2>if logged in users does not equal profile, a follow/unfollow toggle button</h2> 

<script type = "text/babel">

class ToggleFollow extends React.Component {
    constructor(props) {
        super(props);
        this.state = {
            follow: false,
        }
    }

//Use the componet did mount as opportunity to grab if user is following profile or not.
    componentDidMount() {
       // fetch('/profilefollows/' + {{user_id}}, {
       //     method: '',
       // })
      //  .then(response => response.json())
      //  .then(follows => {
      //          //posts = Array.from(posts)
      //          this.setState({
      //          follows: follows,
      //      });
      //      console.log(follows)
     //   })
    }

newFollow = () => {
    fetch('/newfollow/' + {{user_id}}, {
        method: 'PUT',
        body: JSON.stringify({
            user_id: {{user_id}},
            follow_id: {{user.id}}
        })
    })
    .then(response => response.json())
    .then(result => {
    console.log('Success:', result);
    })
    .catch(error => {
    console.error('Error:', error);
    });
    }

unFollow = () => {
    fetch('/unfollow/' + {{user_id}}, {
        method: 'PUT',
        body: JSON.stringify({
            user_id: {{user_id}},
            follow_id: {{user.id}}
        })
    })
    .then(response => response.json())
    .then(result => {
    console.log('Success:', result);
    })
    .catch(error => {
    console.error('Error:', error);
    });
    }
 
render() {
    return (
    <div>
    
    <button onClick={this.newFollow}>Follow</button>
    <button onClick={this.unFollow}>UnFollow</button>
    
    </div>
    );
}

}





class Follows extends React.Component {
    constructor(props) {
        super(props);
        this.state = {
            follows: 0,
        }
    }

    componentDidMount() {
        fetch('/profilefollows/' + {{user_id}}, {
            method: 'GET',
        })
        .then(response => response.json())
        .then(follows => {
                //posts = Array.from(posts)
                this.setState({
                follows: follows,
            });
            console.log(follows)
        })
    }

    render() {
        return(
            <div>
                <h2>{this.state.follows}</h2>
            </div>
        )
    }
}

class Followers extends React.Component {
    constructor(props) {
        super(props);
        this.state = {
            followers: 0,
        }
    }

    componentDidMount() {
        fetch('/profilefollowers/' + {{user_id}}, {
            method: 'GET',
        })
        .then(response => response.json())
        .then(followers => {
                //posts = Array.from(posts)
                this.setState({
                followers: followers,
            });
            console.log(followers)
        })
    }

    render() {
        return(
            <div>
                <h2>{this.state.followers}</h2>
            </div>
        )
    }
}




class Posts extends React.Component {
    constructor(props) {
        super(props);
        this.state = {
            posts: [],
        }
    }

    componentDidMount() {
        fetch('/profileposts/'+ {{user_id}}, {
            method: 'GET',   
        })
        .then(response => response.json())
        .then(posts => {
                //posts = Array.from(posts)
                this.setState({
                posts: posts,
            });
            console.log(posts)
        })
    }

    render() {
        return (
        <div>
            <div>
                {this.state.posts.map((post) =>
                        (  
                            <div key={post.id} className="container-fluid">
                                <div className="border border-primary rounded p-5 m-5">
                                    <div>Post: {post.post} </div>
                                    <div>By: {post.user} </div>
                                    <div>When: {moment(post.created_at).format('YYYY/MM/DD HH:mm:ss')} </div>
                                </div>
                            </div>
                            ))}
                
            </div>
            </div>
        )
    }
}

ReactDOM.render(<Posts />, document.getElementById('profileposts'))
ReactDOM.render(<Followers />, document.getElementById('profilefollowers'))
ReactDOM.render(<Follows />, document.getElementById('profilefollows'))
ReactDOM.render(<ToggleFollow />, document.getElementById('togglefollow'))
</script>

{% endblock %}


{% block script %}
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin=""></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin=""></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js" integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg==" crossorigin="anonymous"></script>
{% endblock %}